

<h1>Añadir mascota</h1>
    <form (ngSubmit) = "emitPets()">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese nombre">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese raza">
        <input type="number"  class="form-control mg-2" placeholder="Ingrese edad">
        <input type="number"  class="form-control mg-2" placeholder="Ingrese peso">
        <input type="date"  class="form-control mg-2" placeholder="fecha ingreso">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese descripcion">

        <button type="submit" class="btn btn-primary" (click)="emitPets()">Añadir mascota</button>

    </form>



