

<h1>Añadir mascota</h1>
    <form  (ngSubmit) = "emitPets()">
         
        <input type="text" [(ngModel)]="pet.nombre" name="nombre"  class="form-control mg-2" placeholder="Ingrese nombre" >

        <input type="text" [(ngModel)]="pet.raza" name="raza"  class="form-control mg-2" placeholder="Ingrese raza">
        <input type="number" [(ngModel)]="pet.edad" name="edad" class="form-control mg-2" placeholder="Ingrese edad">
        <input type="number"  [(ngModel)]="pet.peso" name="peso" class="form-control mg-2" placeholder="Ingrese peso">
        <input type="date"   [(ngModel)]="pet.fecha" name="fecha" class="form-control mg-2" placeholder="fecha ingreso">
        <input type="text"  [(ngModel)]="pet.descripcion" name="descripcion" class="form-control mg-2" placeholder="Ingrese descripcion">

        <button type="submit" class="btn btn-primary" (click)="emitPets()">Añadir mascota</button>

    </form>



