

<h1>Añadir mascota</h1>
    <form class="row">

        <input type="text"  class="form-control mg-2" placeholder="Ingrese nombre">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese raza">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese edad">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese peso">
        <input type="text"  class="form-control mg-2" placeholder="Ingrese descripcion">

        <button type="submit" class="btn btn-primary">Añadir mascota</button>

    </form>



